<div class="container">
  <div class="page-header">
    <h1>Souvenir! <small>Organize it!!!</small></h1>
  </div>

  <%= form_for @task, remote: true do |f| %>
    <div class="form-group newtodo">
      <div class="col-xs-5">
        <%= f.text_field :title, placeholder: "New reminder", class: "form-control input-sm" %>
      </div>
      <div class="col-xs-5">
        <%= f.date_select :due_date, class: "form-control input-sm" %>
      </div>
      <div class="col-xs-2">
        <%= f.submit "Add", class: "btn btn-sm btn-default btn-block btn-success"%>
      </div>
    </div>
  <% end %>


  <div class="panel panel-info">
    <div class="panel-heading">Task Details</div>
      <table class="table">
        <thead>
          <tr id="header">
            <th>title</th>
            <th>Due date</th>
          </tr>
        </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <% if task.due_date < 1.day.from_now %>
            <tr id="row<%=task.id%>">
              <td><%= task.title %></td>
              <td><%= task.due_date.strftime("%m/%d/%Y") %></td>
              <td><%= link_to "Done", task, method: :delete, remote: true, class:"btn btn-primary btn-sm btn-block", "data-confirm"=> "Are you sure?"%></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
